# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/test/output

# production
/build
/dist

# google api credentials
google-api-credentials.json
service-account-credentials.json

# config file
config.json

# database files
db.sqlite

npm-debug.log*
yarn-debug.log*
yarn-error.log*
